<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- TEST URL-->
    <!--
    <add key="OrionApiUrl" value="https://testapi.orionadvisor.com/api/v1/"/>
    <add key="OrionConnectUrl" value="https://testapi.orionadvisor.com/OrionConnectApp/integration.html"/>
    <add key="OrionEnvironment" value="Test" />
    -->
    
    <!-- PRODUCTION URL -->
    <add key="OrionApiUrl" value="https://api.orionadvisor.com/api/v1/"/>
    <add key="OrionConnectUrl" value="https://api.orionadvisor.com/OrionConnectApp/integration.html"/>
    <add key="OrionEnvironment" value="Production" />
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>